@import "tailwindcss";
@import "@fontsource/outfit/400.css";
@import "@fontsource/outfit/500.css";
@import "@fontsource/outfit/600.css";


@theme {
  --color-main: #205457;
  --color-secondry: #B19470;
  --font-display: "Outfit", sans-serif;
}
